#sidebar nav ul li a {
  background: #f3f3f3;
  border-left: 5px #249cd8 solid;
  border-bottom: 1px #e6e6e6 solid;
  color: #4d4d4d;
}

#sidebar nav ul li a:hover {
  text-decoration: none;
}

#sidebar nav ul li div.submenu ul li a {
  background: #fff;
  border-left: none;
  color: #808080;
}

header .navbar-default {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

header .navbar-default li.boiler-finder a:hover {
  color: #fff;
}

header .navbar-default #navbar a:hover {
  border: 1px #249cd8 solid;
}

header .navbar-default li.boiler-finder {
  background: url("../../img/cinsa/calCINSA.png") no-repeat;
  padding-right: 60px;
}

header .navbar-default li.boiler-finder a {
  color: #fff;
}

header .navbar-default li.boiler-finder a:hover {
  border: 0;
}

footer, #top-links {
  background: #204471;
  color: #fff;
}

footer a, footer a:hover, footer a:active, #top-links a, #top-links a:hover, #top-links a:active {
  color: #fff;
}

header nav#top-links ul li {
  border-right: 2px rgba(255, 255, 255, 0.3) solid;
}

div.subtitle-overlay {
  background: rgba(36, 156, 216, 0.7);
}

div.subtitle-overlay a {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div.category-title a {
  color: #5d5d5d;
}

div#lead-breadcrumb h1, div#lead-breadcrumb label {
  color: #249cd8;
}

#model-selector li a {
  border: #204471 1px solid;
  color: #204471;
}

#model-selector li a.selected {
  background: #204471;
  color: #fff;
}

#product-overview .overview-content h3 {
  color: #204471;
}

.btn-primary {
  background-color: #204471;
  border-bottom: 3px #B2B2B2 solid;
}

body.template-catalogo-producto section#product-detail #product-applications ul.applications-info li .balloon {
  border-color: #204471;
  color: #204471;
  background: #fff;
}

body.template-catalogo-producto section#product-detail .nav-tabs {
  border-bottom: 1px #249cd8 solid;
}

body.template-catalogo-producto section#product-detail .nav-tabs a {
  color: #249cd8;
}

body.template-catalogo-producto section#product-detail .nav-tabs > li.active > a, body.template-catalogo-producto section#product-detail .nav-tabs > li.active > a:focus, body.template-catalogo-producto section#product-detail .nav-tabs > li.active > a:hover {
  border: 1px #249cd8 solid;
  border-bottom-color: transparent;
  color: #249cd8;
}

section#related-products h4 {
  color: #204471;
}

body.template-with-forms section#info-nav a {
  background: #299bd7;
}

body.template-with-forms #info-content h1 {
  color: #299bd7;
}

body.template-with-forms #info-content .info-tel .fa.rounded {
  background: #299bd7;
  color: #fff;
}

body.template-with-forms #info-form .btn-submit {
  background: #299bd7;
}

body.template-with-posts div.tip .tip-text {
  color: #bcbcbc;
}

body.template-with-posts div.tip .tip-text .date {
  color: #204471;
}

body.template-with-posts div.tip a.btn-white {
  border: 1px #204471 solid;
  color: #204471;
}

body.template-with-posts section#page-content #sidebar .search form input {
  background: #e9e9e9;
}

body.template-with-posts section#page-content #sidebar ul li a {
  color: #bcbcbc;
}

body.template-with-posts section#page-content #sidebar ul li a:hover {
  color: #204471;
}

body.template-with-posts section#page-content #sidebar .content.newsletter {
  background: #204471;
}

body.template-with-posts section#page-content #sidebar .content.newsletter .btn-primary {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: #fff;
  color: #204471;
}

body.template-with-posts section#page-content #sidebar ul.taglist li a {
  color: #bcbcbc;
  border: 1px #bcbcbc solid;
}

body#template-default #page-header h1 {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body#template-default #page-content h2 {
  color: #204471;
}

section#products-carousel h4 span {
  color: #204471;
}
