@charset "UTF-8";
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
nav.horizontal ul li {
  float: left;
  list-style: none;
  margin-left: 15px;
  padding-right: 15px;
}

nav.horizontal.social ul li {
  border-right: 0;
}

nav ul {
  margin-left: 0;
  padding-left: 0;
}

.padding-10 {
  padding: 10px;
}

.margin-10 {
  margin: 10px;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-50 {
  opacity: 0.5;
}

h1.title-header {
  font-size: 42px;
}

h2.subtitle-header {
  font-size: 32px;
}

div.product-text {
  font-size: 23px;
}

.btn-text {
  font-size: 21px;
}

.btn {
  text-transform: uppercase;
}

.btn-success, .btn-success:hover {
  border: 0;
  border-bottom: 3px #b2b2b2 solid;
}

.btn-white, .btn-white:hover {
  border: 1px #b2b2b2 solid;
  background: #fff;
  color: #b2b2b2;
}

.btn-white-dark, .btn-white-dark:hover {
  background: #fff;
  color: #666;
}

.btn-group-lg > .btn, .btn-lg {
  font-size: 16px;
  padding: 15px 30px;
  min-width: 350px;
}

.btn-group-lg > .btn i, .btn-lg i {
  margin-right: 20px;
}

a.btn:hover {
  text-decoration: none;
}

.off {
  opacity: 0.5;
}

html, body {
  height: 100%;
}

body {
  font-family: "Open Sans", "Segoe UI", Helvetica, Arial, Sans-Serif;
  font-size: 12px;
}

.btn-primary {
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

header {
  position: relative;
}

header nav#top-links {
  height: 35px;
  padding-top: 8px;
}

header nav#top-links ul {
  position: relative;
}

header nav#top-links ul li {
  position: relative;
  height: 15px;
  line-height: 15px;
  border-right: 2px #ccc solid;
}

header nav#top-links ul li a {
  font-size: 11px;
  text-transform: uppercase;
}

header nav#top-links ul li:last-child {
  border-right: 0;
}

header .navbar-default {
  background: none;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
}

header .navbar-default #navbar li.boiler-finder {
  width: 266px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

header .navbar-default #navbar li.boiler-finder a {
  font-weight: normal;
}

header .navbar-default #navbar li.boiler-finder a:hover {
  border: 0;
}

body.template-interior header {
  min-height: 100px;
  z-index: 200;
}

body.template-interior section#page-header {
  height: 165px;
  margin-bottom: 30px;
}

body.template-interior section#page-header h1, body.template-interior section#page-header h2 {
  color: #fff;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

body.template-interior section#page-header h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 40px;
  font-size: 30px;
}

body.template-interior section#page-header h2 {
  margin-top: 0;
  font-size: 22px;
}

body.template-interior #sidebar nav ul {
  position: relative;
  padding-left: 0;
  margin-left: 0;
}

body.template-interior #sidebar nav ul li {
  position: relative;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

body.template-interior #sidebar nav ul li a {
  position: relative;
  display: block;
  height: 40px;
  padding: 10px 0 10px 30px;
}

body.template-interior #sidebar nav ul li a.toggle-panel {
  text-transform: uppercase;
}

body.template-interior #sidebar nav ul li a:hover {
  text-decoration: none;
}

body.template-interior #sidebar div.banners div.banner {
  margin-bottom: 15px;
}

body.template-interior div#page-content div#lead-breadcrumb {
  text-transform: uppercase;
  font-size: 14px;
}

body.template-interior div#page-content div#lead-breadcrumb h1 {
  font-size: 14px;
  margin-top: 0;
}

body.template-interior div#page-content div#lead-breadcrumb label {
  position: relative;
  margin-right: 10px;
  padding-right: 10px;
  height: 12px;
  line-height: 12px;
  border-right: 2px #bcbcbc solid;
  font-weight: normal;
}

body.template-interior div#page-content div#products {
  margin-left: 0px;
  margin-right: 0;
  border-top: 1px #bcbcbc solid;
  padding-top: 30px;
}

body.template-interior div#page-content div#products div.product {
  margin-bottom: 30px;
}

body.template-interior div#page-content div#products div.product div.product-content {
  position: relative;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #f3f3f3;
}

body.template-interior div#page-content div#products div.product div.product-content .thumbnail-cont {
  position: relative;
  display: block;
}

body.template-interior div#page-content div#products div.product div.product-content .thumbnail-cont img {
  position: relative;
  max-width: 100%;
  height: auto;
  padding: 15px;
}

body.template-interior div#page-content div#products div.product div.product-content div.subtitle-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

body.template-interior div#page-content div#products div.product div.product-content div.subtitle-overlay a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 13px;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  padding-top: 120px;
  text-transform: uppercase;
}

body.template-interior div#page-content div#products div.product div.product-content div.subtitle-overlay a:hover  {
  text-decoration: none;
}

body.template-interior div#page-content div#products div.product div.category-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  height: 50px;
  background: #f3f3f3;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

body.template-interior div#page-content div#products div.product div.category-title a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 13px;
  text-transform: uppercase;
}

body.template-interior div#page-content div#products div.product div.category-title a:hover {
  text-decoration: none;
}

body.template-header-sm header {
  height: 100px;
}

section#jumbotron {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
}

section#jumbotron #slideshow-brand {
  text-align: center;
}

section#jumbotron #slideshow-brand a {
  position: relative;
  display: block;
  text-align: center;
  margin: auto;
  display: none;
  width: 100%;
}

section#jumbotron #slideshow-brand a img {
  position: relative;
  margin: auto;
  display: block;
}

section#products-carousel {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px 0;
}

section#products-carousel h4 {
  color: #fff;
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

section#products-carousel .product img {
  max-height: 250px;
  width: auto;
  margin: auto;
}

footer {
  height: 55px;
  overflow: hidden;
  padding-top: 20px;
}

footer ul li {
  border-right: 2px rgba(255, 255, 255, 0.3) solid;
  height: 15px;
  line-height: 15px;
}

footer ul li:last-child {
  border-right: 0;
}

body.template-catalogo-producto section#page-content {
  padding-top: 0;
  margin-bottom: 30px;
}

body.template-catalogo-producto section#page-content #product-overview .product-images .main-image {
  border: 1px #ccc solid;
  border-radius: 5px;
  float: left;
  width: 70%;
  position: relative;
}

body.template-catalogo-producto section#page-content #product-overview .product-images .thumbnails-nav {
  position: relative;
  float: right;
  width: 25%;
}

body.template-catalogo-producto section#page-content #product-overview .product-images .thumbnails-nav a {
  position: relative;
  display: block;
  text-align: center;
}

body.template-catalogo-producto section#page-content #product-overview .product-images .thumbnails-nav a img {
  display: block;
  margin: auto;
}

body.template-catalogo-producto section#page-content #product-overview .product-images .thumbnails-nav a.cycle-pager-active {
  border: 1px #ccc solid;
  border-radius: 5px;
}

body.template-catalogo-producto section#page-content #product-overview h2 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 0;
}

body.template-catalogo-producto section#page-content #product-overview h3 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 5px;
}

body.template-catalogo-producto section#page-content #product-overview h4 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 15px;
}

body.template-catalogo-producto section#page-content #product-overview div.well {
  border-radius: 0;
  border: 0;
  background: #f4f4f4;
  box-shadow: none;
}

body.template-catalogo-producto section#page-content #product-overview div.well h5 {
  font-weight: lighter;
  font-size: 18px;
  margin-top: 0;
}

body.template-catalogo-producto section#page-content #product-overview div.well h5 strong {
  font-weight: bold;
}

body.template-catalogo-producto section#page-content #product-overview div.well ul {
  list-style: none;
  padding-left: 0;
  position: relative;
}

body.template-catalogo-producto section#page-content #product-overview div.well ul li {
  padding-left: 0;
}

body.template-catalogo-producto section#page-content #product-overview div.well ul li a {
  position: relative;
  float: left;
  padding: 15px;
  border-radius: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

body.template-catalogo-producto section#page-content #product-overview div.well ul li a:hover {
  text-decoration: none;
}

body.template-catalogo-producto section#page-content #product-overview div.add-cart-form select {
  width: 50px;
  padding: 25px;
}

body.template-catalogo-producto section#page-content #product-overview div.add-cart-form .btn-primary {
  width: 300px;
  border-bottom: 4px #B2B2B2 solid;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 5px;
}

body.template-catalogo-producto section#page-content #product-overview .text-center {
  width: 350px;
  clear: both;
  margin: 10px 0;
  position: relative;
}

body.template-catalogo-producto section#page-content #product-overview .btn {
  border-radius: 0;
}

body.template-catalogo-producto section#page-content #product-overview .btn-primary, body.template-catalogo-producto section#page-content #product-overview .btn-primar:hover {
  border: 0;
}

body.template-catalogo-producto section#page-content #product-overview .btn-white {
  clear: both;
  width: 352px;
  border-radius: 5px;
}

body.template-catalogo-producto section#product-detail .nav-tabs {
  border-bottom: 1px #32bbc5 solid;
  text-transform: uppercase;
  font-size: 13px;
}

body.template-catalogo-producto section#product-detail .nav > li > a {
  padding: 20px 40px;
  color: #666666;
}

body.template-catalogo-producto section#product-detail .nav-tabs > li.active > a, body.template-catalogo-producto section#product-detail .nav-tabs > li.active > a:focus, body.template-catalogo-producto section#product-detail .nav-tabs > li.active > a:hover {
  border: 1px #32bbc5 solid;
  border-bottom-color: transparent;
  color: #32bbc5;
}

body.template-catalogo-producto section#product-detail .tabpanel-content {
  padding-top: 100px;
  padding-bottom: 30px;
}

body.template-catalogo-producto section#product-detail .bullet {
  text-align: center;
  padding: 40px;
  padding-top: 0;
  font-size: 16px;
}

body.template-catalogo-producto section#product-detail .bullet img {
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

body.template-catalogo-producto section#product-detail .bullet strong {
  font-weight: bolder;
  display: block;
  text-transform: uppercase;
}

body.template-catalogo-producto section#product-detail #tab-specs {
  font-size: 14px;
}

body.template-catalogo-producto section#product-detail #tab-specs h4 {
  text-transform: uppercase;
  font-size: 20px;
}

body.template-catalogo-producto section#product-detail #tab-specs .table-striped td, body.template-catalogo-producto section#product-detail #tab-specs th {
  border-top: 0;
  border-bottom: 0;
}

body.template-catalogo-producto section#product-detail #tab-specs th {
  text-transform: uppercase;
}

body.template-catalogo-producto section#product-detail #product-applications table {
  width: 60%;
}

body.template-catalogo-producto section#product-detail #product-applications ul.applications-info {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
}

body.template-catalogo-producto section#product-detail #product-applications ul.applications-info li {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  position: relative;
}

body.template-catalogo-producto section#product-detail #product-applications ul.applications-info li .balloon {
  position: absolute;
  top: 50px;
  left: 50px;
  border: 3px #656565 solid;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
}

body.template-catalogo-producto section#product-detail .product-files {
  padding-bottom: 50px;
}

body.template-catalogo-producto section#product-detail .product-files h4 {
  margin-bottom: 10px;
}

body.template-catalogo-producto section#product-detail .product-files a {
  margin-bottom: 10px;
}

body.template-catalogo-producto section#related-products {
  background: #f3f3f3;
  padding-bottom: 30px;
}

body.template-catalogo-producto section#related-products h3 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

body.template-catalogo-producto section#related-products .product {
  background: #fff;
  border: 1px #d3d7dd solid;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
}

body.template-catalogo-producto section#related-products .product img {
  margin: auto;
}

body.template-catalogo-producto section#related-products .product h4 {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.breadcrumb {
  background: transparent;
  padding-left: 0;
}

#breadcrumbs {
  text-transform: uppercase;
}

#breadcrumbs h1 {
  margin-top: 30px;
  font-size: 13px;
  font-weight: 600;
  font-weight: normal;
  text-transform: none;
}

#breadcrumbs h1 span.part-one {
  text-transform: uppercase;
}

#breadcrumbs h1 span.part-two {
  color: #49718f;
}

#breadcrumbs h1 span.part-three {
  color: #808080;
}

#breadcrumbs label {
  font-size: 13px;
  font-weight: 400;
  padding-top: 0;
  display: inline;
  float: left;
  margin-right: 10px;
  margin-right: 10px;
  border-right: 2px  #d8d8d8 solid;
  line-height: 13px;
  padding-right: 10px;
  position: relative;
  top: 31px;
}

#breadcrumbs select {
  float: left;
  top: 28px;
  position: relative;
}

#breadcrumbs .btn-calentador-ideal {
  position: relative;
  display: block;
  width: 190px;
  background: #ffb740;
  height: 45px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
  color: #fff;
}

#breadcrumbs .btn-calentador-ideal:hover {
  text-decoration: none;
}

body.template-with-forms section#info-nav {
  padding: 50px 0;
  background: #f2f2f2;
  margin-top: -20px;
}

body.template-with-forms section#info-nav .nav-container {
  text-align: center;
}

body.template-with-forms section#info-nav .nav-container a {
  padding: 15px 20px;
  margin-right: 10px;
  border: 0;
  border-bottom: 4px #b2b2b2 solid;
}

body.template-with-forms section#info-nav .nav-container a.btn-current {
  background: transparent;
  color: #666666;
  border: 1px #666666 solid;
}

body.template-with-forms #info-content {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #646464;
  font-size: 13px;
}

body.template-with-forms #info-content h1 {
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 22px;
  text-transform: uppercase;
}

body.template-with-forms #info-content p {
  margin-bottom: 20px;
}

body.template-with-forms #info-content .fa.rounded {
  float: left;
  background: #f2f2f2;
  font-size: 20px;
  padding: 15px 18px;
  border-radius: 50px;
}

body.template-with-forms #info-content .info-tel p {
  margin-left: 60px;
}

body.template-with-forms #info-form {
  padding-top: 100px;
  padding-bottom: 100px;
  color: #646464;
}

body.template-with-forms #info-form label {
  font-size: 12px;
  font-weight: normal;
  padding-left: 15px;
}

body.template-with-forms #info-form input[type="text"] {
  font-size: 12px;
}

body.template-with-forms #info-form .btn-submit {
  position: relative;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  padding: 10px 0;
}

body.template-with-posts {
  background: #f2f3f5;
}

body.template-with-posts section#page-content #info-content .content, body.template-with-posts section#page-content #sidebar .content {
  background: #fff;
}

body.template-with-posts section#page-content #info-content .content {
  padding: 25px 45px 45px 45px;
}

body.template-with-posts section#page-content #info-content h2 {
  margin-bottom: 20px;
  color: #49718f;
  text-transform: uppercase;
  font-size: 24px;
}

body.template-with-posts section#page-content #info-content p {
  margin-bottom: 30px;
}

body.template-with-posts section#page-content #info-content p + h2 {
  margin-top: 50px;
}

body.template-with-posts section#page-content #sidebar .content {
  padding: 20px;
  margin-bottom: 20px;
}

body.template-with-posts section#page-content #sidebar .content.newsletter h4 {
  margin-top: 0;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;
}

body.template-with-posts section#page-content #sidebar .content.transparent {
  background: none;
  padding: 0;
}

body.template-with-posts section#page-content #sidebar .content.transparent h4 {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

body.template-with-posts section#page-content #sidebar ul.taglist {
  padding-left: 0;
  margin-left: 0;
}

body.template-with-posts section#page-content #sidebar ul.taglist li {
  margin-left: 0;
  padding-left: 0;
}

body.template-with-posts section#page-content #sidebar ul.taglist li a {
  padding: 5px 10px;
  float: left;
  margin: 5px;
}

body.template-with-posts section#page-content #sidebar form {
  position: relative;
  margin-bottom: 15px;
}

body.template-with-posts section#page-content #sidebar form input {
  display: block;
  width: 100%;
  border: 0;
  height: 35px;
}

body.template-with-posts section#page-content #sidebar form a {
  position: absolute;
  top: 8px;
  right: 8px;
}

body.template-with-posts section#page-content #sidebar form a i {
  color: #fff;
  font-size: 18px;
}

body.template-with-posts section#page-content #sidebar ul {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

body.template-with-posts section#page-content #sidebar ul li {
  margin-bottom: 10px;
  padding-left: 10px;
}

body.template-with-posts section#page-content #sidebar ul li a {
  text-transform: uppercase;
  font-size: 13px;
}

body.template-with-posts section#page-content div#tip-list {
  margin-bottom: 40px;
}

body.template-with-posts section#page-content div#tip-list div.tip {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px #bcbcbc solid;
  font-size: 16px;
}

body.template-with-posts section#page-content div#tip-list div.tip:last-child {
  border-bottom: 0;
}

body.template-with-posts section#page-content div#tip-list div.tip img.pull-left {
  position: relative;
}

body.template-with-posts section#page-content div#tip-list div.tip div.tip-text {
  position: relative;
  margin-left: 460px;
}

body.template-with-posts section#page-content div#tip-list div.tip div.tip-text p.date {
  position: relative;
  margin-bottom: 20px;
  font-size: 12px;
}

body.template-with-posts section#page-content div#tip-list div.tip div.tip-text h2 {
  margin-top: 0;
  padding-top: 0;
  font-size: 22px;
  line-height: 1.3em;
  text-transform: none;
}

body.template-with-posts section#page-content div#tip-list div.tip div.tip-text h2 a {
  color: #000;
  font-weight: bolder;
}

body.template-with-posts section#page-content div#tip-list div.tip div.tip-text a.btn-white {
  text-transform: none;
  font-size: 13px;
  padding-left: 25px;
  padding-right: 25px;
}

body#template-default #page-header {
  position: relative;
}

body#template-default #page-header h1 {
  margin-top: -15px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bolder;
}

body#template-default #page-content {
  background: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 13px;
}

body#template-default #page-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 24px;
}

body#template-default #page-content p {
  margin-bottom: 25px;
}

/* Smartphones only */
@media (max-width: 767px) {
  header {
    margin-bottom: 0;
  }
  header .navbar-default {
    min-height: 80px;
    margin-bottom: 0;
    margin-top: 0;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: 0;
  }
  section#jumbotron {
    margin-top: 0;
    padding-top: 0;
  }
  section#jumbotron .container {
    padding: 0;
    margin: 0;
  }
  section#jumbotron .container .row {
    padding: 0;
    margin: 0;
  }
  section#jumbotron .container .row .col-xs-12 {
    padding: 0;
    margin: 0;
  }
  section#products-carousel {
    background: #d0d0d0;
  }
  section#products-carousel h4 {
    text-align: center;
    font-size: 26px;
  }
  section#products-carousel #products-carousel-container .col-xs-6 {
    margin-bottom: 30px;
  }
  footer {
    text-align: center;
    height: auto;
  }
  footer nav.horizontal {
    text-align: center;
  }
  footer nav.horizontal ul li {
    float: none;
    display: block;
    border-right: 0;
    margin-bottom: 10px;
  }
  footer .pull-right {
    float: none !important;
  }
  body.template-interior section#main-content {
    background: #fff;
    padding-top: 30px;
  }
  body.template-interior div#page-content div#products {
    border-top: 0;
  }
  body.template-interior #lead-breadcrumb {
    text-align: center;
  }
  body.template-catalogo-producto section#page-content {
    padding-top: 30px;
  }
  body.template-catalogo-producto section#page-content #product-overview .product-images .main-image {
    width: 100%;
    border: 0;
  }
  body.template-catalogo-producto section#page-content #product-overview h2 {
    text-align: center;
    font-size: 22px;
  }
  body.template-catalogo-producto section#page-content #product-overview div.well ul li a {
    padding: 10px 5px;
    font-size: 15px;
  }
  body.template-catalogo-producto section#product-detail .nav li a {
    padding: 10px 5px;
    font-size: 12px;
  }
  body.template-catalogo-producto section#product-detail .tabpanel-content {
    padding-top: 30px;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .navbar-default {
    height: 66px;
  }
  .navbar-default #navbar ul {
    position: relative;
    top: -1px;
  }
  .navbar-nav > li > a {
    padding: 23px 25px;
  }
  .navbar-brand {
    padding-top: 0;
  }
  .overview-content {
    padding-right: 100px;
  }
  body.template-with-forms #info-content {
    padding-left: 100px;
    padding-right: 40px;
  }
  body.template-with-forms #info-form {
    padding-right: 140px;
  }
}

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
