#form-factura label {
	font-size: 12px;
	font-weight: normal;
	line-height: 30px;
}

#product-bottom img.img-responsive {
	width: 100%;
	height: auto;
}

#product-bottom .padding-zero {
	background: #fff;
	height: 100%;
}