body {
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 16px;
	padding: 30px;
}

hr {
	margin-bottom: 20px;
	display: block;
}

table {
	width: 100%;
}

.text-center {
	text-align: center;
}

table {

}

table td {
	padding: 10px;
	vertical-align: top;
}

h1 {
	font-size: 20px;
	font-weight: bolder;
}
strong {
	color: #005b82;
}

p {
	margin-bottom: 25px;
}

span.tipo {
	padding: 10px; 
	border: 3px #ccc solid; 
	border-radius: 5px;
}

span.active {
	border: 3px #005b82 solid;
	color: #005b82;
	font-weight: bolder;
}

div.dotted {
	width: 100%;
	position: relative;
	padding-top: 15px;
	border-top: 5px dotted #ccc;
	height: 10px;
}

.well {
	padding-bottom: 0;
}

table.table {
	margin-bottom: 0;
}