
@media (max-width: 992px) {

#sidebar{
	display:none;
}

}

@media (max-width: 496px) {
#navbar{
	height: 400px !important;
	    margin-top: 30px;
}

body.template-with-forms section#info-nav .nav-container a {
  width: 210px !important;
  }
  
  section#products-carousel .product .product-overlay h3 {
    text-align: center;
    margin-top: 10px !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    font-size: 10px !important; 
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

}
@media (max-width: 1198px) {
#navbar{
	height: 450px !important;
	    margin-top: 10px;
}

}
@media (max-width: 640px) {
	header{
		top: 42px;
	}
	footer{
		max-height: 150px;
	}
	
	#main-content{
	min-height: 450px;
	}
}

#sidebar nav ul li > a {
  background: #3c3c3c;
  border-left: 5px #f44336 solid;
  border-bottom: 1px #e6e6e6 solid;
  color: #fff;
}

#sidebar nav ul li a:hover {
  text-decoration: none;
}

#sidebar nav ul li div.submenu ul li a {
  background: #fff;
  border-left: none;
  color: #646464;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

header .navbar-default {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

header .navbar-default li.boiler-finder a:hover {
  color: #fff;
}

header .navbar-default #navbar a {
  color: rgba(255, 255, 255, 0.7);
}

header .navbar-default #navbar a:hover {
  border: 1px #f44336 solid;
}

header .navbar-default li.boiler-finder {
  background: url("../../img/calorex/calCALOREX.png") no-repeat;
  padding-right: 60px;
}

header .navbar-default li.boiler-finder a {
  color: #fff;
}

header .navbar-default li.boiler-finder a:hover {
  border: 0;
}

footer {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

footer a, footer a:hover, footer a:active {
  color: #fff;
}

#top-links {
  background: rgba(100, 100, 100, 0.3);
  color: #000;
}

#top-links a, #top-links a:hover, #top-links a:active {
  color: #000;
}

header nav#top-links ul li {
  border-right: 2px rgba(255, 255, 255, 0.3) solid;
}

div.subtitle-overlay {
  background: rgba(244, 67, 54, 0.7);
}

div.subtitle-overlay a {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

div.category-title a {
  color: #5d5d5d;
}

div#lead-breadcrumb h1, div#lead-breadcrumb label {
  color: #f44336;
}

#model-selector li a {
  border: #f44336 1px solid;
  color: #f44336;
}

#model-selector li a.selected {
  background: #f44336;
  color: #fff;
}

#product-overview .overview-content h3 {
  color: #f44336;
}

.btn-primary, .btn-primary:hover {
  background-color: #f44336;
  border-bottom: 3px #B2B2B2 solid;
}

body.template-catalogo-producto section#product-detail #product-applications ul.applications-info li .balloon {
  border-color: #f44336;
  color: #f44336;
  background: #fff;
}

body.template-catalogo-producto section#product-detail .nav-tabs {
  border-bottom: 1px #f44336 solid;
}

body.template-catalogo-producto section#product-detail .nav-tabs a {
  color: #f44336;
}

body.template-catalogo-producto section#product-detail .nav-tabs > li.active > a, body.template-catalogo-producto section#product-detail .nav-tabs > li.active > a:focus, body.template-catalogo-producto section#product-detail .nav-tabs > li.active > a:hover {
  border: 1px #f44336 solid;
  border-bottom-color: transparent;
  color: #f44336;
}

body.template-catalogo-producto section#product-detail .tabpanel-content h4, body.template-catalogo-producto section#product-detail .tabpanel-content th {
  color: #f44336;
}

section#related-products h4, section#related-products h3 {
  color: #f44336;
}

body.template-with-forms #info-content h1 {
  color: #f44336;
}

body.template-with-forms #info-content .info-tel .fa.rounded {
  background: #f44336;
  color: #fff;
}

body.template-with-posts div.tip .tip-text {
  color: #bcbcbc;
}

body.template-with-posts div.tip .tip-text .date {
  color: #f44336;
}

body.template-with-posts div.tip a.btn-white {
  border: 1px #f44336 solid;
  color: #f44336;
}

body.template-with-posts section#page-content #sidebar .search form input {
  background: #e9e9e9;
}

body.template-with-posts section#page-content #sidebar ul li a {
  color: #bcbcbc;
}

body.template-with-posts section#page-content #sidebar ul li a:hover {
  color: #f44336;
}

body.template-with-posts section#page-content #sidebar .content.newsletter {
  background: #f44336;
}

body.template-with-posts section#page-content #sidebar .content.newsletter .btn-primary {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background: #fff;
  color: #f44336;
}

body.template-with-posts section#page-content #sidebar ul.taglist li a {
  color: #bcbcbc;
  border: 1px #bcbcbc solid;
}

body#template-default #page-header h1 {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

body#template-default #page-content h2 {
  color: #f44336;
}

section#products-carousel h4 span {
  color: #f44336;
}

section#products-carousel .product .product-overlay {
  background-color: rgba(244, 67, 54, 0.7);
}
.socialv2{
top:-10px;position: relative;			
}
 @media only screen and (max-width:800px) {
.socialv2{
padding: 15px 0px;	
 }
}

 