/*Lo siguiente esta modificado y lo que sigue es importante para el programa, por favor no lo muevas
listDer ul h6
listDer li
.pie
*/
.centrado{
	text-align:center;
	font-size:13px;
}
.espec{
	position:;
	width:1024px;
	margin-left:0px;
}

.espec1 p{
	font-family:'robotoregular' , sans-serif;
	font-size:13px;
	color:#666666;
	text-align:center; 
}

.espec1 h2 , .espec1 h3{
	font-family:'robotoregular' , sans-serif;
	font-size:17px;
	color:##3E3E3E;
	text-align:center;
}

.imgEspec{
	width:100%;
}

.imgEspec1{
	width:580px;
	margin:0 15%;

	
}

.especificaciones{
	clear:both;
	position:absolute;
	width:1004px;
	margin-left:-350px;
}
#ocult{
	margin-left:;
}

.red{
	color:#FF0000;
}
.ns{
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	cursor:default;
}
hidden,.hidden{
	display:none;
}
.clickable{
	cursor:pointer;
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/***********************************FIN DEL NORMALIZE *******************************************************/

@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('Roboto-Regular-webfont.woff') format('woff'),
	url('Roboto-Regular-webfont.ttf') format('truetype'),
	url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

img, video, object {
  max-width: 100%;
}


/* Clearfix */

.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
    clear: both;
}

.clearfix {
  *zoom:1;
}

/* Fin del Clearfix */
body{
	width: 1px;
    min-width: 100%;
	overflow-x:hidden;
	overflow-y:auto;
}

.contenedor{
	width:1024px;
	
	margin:0 auto;
}

/* ----------- Estilos encabezado ------------ */

.logoCalore{
	position:absolute;
	width:112px;
	height:38px;
	margin-left:20px;
	margin-top:14px;
}

.encabezado{
	width:1024px;
	height:70px;
	padding-bottom:5px;
	z-index:1;
}

.encabezado ul{
	position:relative;
	list-style:none;
	display:block;
	float:right;
	margin-top:-50px;
	z-index:2;
	padding-right:10px;
}

.encabezado li{
	font-family:'robotoregular' , sans-serif;
	font-size:13px;
	color:#666666;
	font-weight:600;
	float:left;
	padding-right:20px;
}

.cuerpoIzq{
	position:;
	width:500px;
	height:380px;
	padding-left:10px;
	padding-right:4px;
	padding-bottom:5px;
}

#divBackCalentadores{
	position:absolute;
	width:1004px;
	height:380px;
	margin-left:10px;
	/*z-index:1;*/
}


#titDerecho{
	position:absolute;
	font-family:'robotoregular' , sans-serif;
	font-size:22px;
	font-weight:600;
	text-align:center;
	color:#d94e6e;
	padding:0 54px;
}

.cuerpoDer{
	/*background: url(../img/divDerecha.png) no-repeat;*/
	position:relative;
	z-index:1;
	margin-top:-385px;
	float:right;
	width:500px;
	height:380px;
	padding-right:10px;
	padding-bottom:5px;
}

.listeDer{

}

.listDer form{
	position:relative;
	z-index:2;
	font-family:'robotoregular' , sans-serif;
	font-weight:600;
	font-size:13px;
	color:#666666;
	/*margin-top:173px;*/
	margin-top:-358px;
	margin-left:24px;

}

.listDer form label{
	display:block;
	margin-bottom:7px;
}

.listDer form input ,.listDer form  textarea{
	font-family:'robotoregular' , sans-serif;
	font-weight:600;
	font-size:13px;
	display: inline-block;
	width:49px;
	height:25px;
	margin-bottom:15px;
	text-align:left;
	border:solid 2px #d8d8d8;
	margin-left:5px;
}

.iconImg{
	position:absolute;
	float:;
	padding-left:17px;
	float:left;
}

.iconImg1{
	position:absolute;
	margin-left:50px;
	padding-left:10px;
	
}

#divBtnRegresar{
	display:inline-block;
	position:relative;
	z-index:3;
	/*position:absolute;*/
	margin-top:5px;
	margin-left: 10px/*10px/*29px*/;
}



#divBtnRegresar1{
	float:left;
	/*margin-top:23px;
	margin-left:29px;*/
	/*margin-right:0px;*/

}

/*#btnContinuar{
	float:left;
	/*margin-right:188px;
	
}*/

#divBtnContinuar{
	
	margin-left:315px;

}

.listDer ul {
	position:relative;
	z-index:2;
	/*margin-top:173px;*/
	/*margin-top:-260px;*/
	margin-top:-275px;
	margin-left:-30px;
	list-style-type:none;
}

.listDer ul h6{
	font-family:'robotoregular' , sans-serif;
	font-size:13px;
	color:#3E3E3E;
}


.listDer li{
	width:150px;
	margin-top:-15px;
	display:block;
	float:left;
	font-family:'robotoregular' , sans-serif;
	font-size:13px;
	color:#3E3E3E;
	text-align:center;
	font-weight:bold;
	margin-bottom:20px;
}

#imgMedia{
	padding-left:14px;
	padding-right:14px;
	/*margin-left:0px;
	margin-right:0px;*/
}



#divBackCalentadores{
	width:100%;
}

.cal1 , .cal2 , .cal3 , .cal4{
	width:157px;
	margin-top:25px;
	display:inline-block;
	/*margin-top:-365px;*/
	
}

.cal1{
	margin-left:-455px;;
}

/*
.cal2 , .cal3 , .cal4{
	display:inline-block;
}

/*.cal2 , .cal3 , .cal4{
	float:left;	
	margin-top:-313px;
	/*margin-top:-365px;*//*
}*/



.cal1 , .cal2 , .cal3{
	margin-right:74px;
}


.cal1 h6 , .cal2 h6 , .cal3 h6 , .cal4 h6{
	display:none;
	font-family:'robotoregular' , sans-serif;
	font-size:11px;
	color:#E10098;
	text-align:center;
	margin-top:0px;
}

#desCalentador1 , #desCalentador2 , #desCalentador3 , #desCalentador4{
	font-family:'robotoregular' , sans-serif;
	font-size:16px;
	color:#3B3B3E;
	text-align:center;
	font-weight:600;
	margin-bottom:7px;
}



#imgCalentador1  , #imgCalentador2  , #imgCalentador3  , #imgCalentador4 {
	/*max-width:157px;
	max-height:168px;*/
	/*margin-left:24px;*/
	width:147px;
	height:168px;
	border: 3px solid #C1C9D2;
	background:#FFF;
}
#imgCalentador1 img , #imgCalentador2 img , #imgCalentador3 img , #imgCalentador4 img{
	max-width:147px;
	max-height:168px;
	margin-left:16%;

}

.detGasLp1 , .detGasLp2 , .detGasLp3 , .detGasLp4{
	margin-top:5px;
	/*margin-top:-20px;*/
}

.detGasNt1 , .detGasNt2 , .detGasNt3 , .detGasNt4{
	margin-top:-5px;
}

#btns{
	
	width:100%;
	display:inline-block;
	margin-left:50%;
	margin-top:-50px;
	position:relative;
	z-index:3;
}

#imgVerCat{

}

#imgFinalizar{
	margin-left:10px;
}

.btnsAvanzar{
	width:100%;
	margin-top:-198px;
	
}

#anteriorCal{
	float:left;
	width:30px;
	height:30px;
	margin-left:-495px;
}

#siguienteCal{
	width:30px;
	height:30px;
	margin-left:420px;
}



#formContacto{
	width:100%;
	/*width:580px;
	width:100%;*/
	/*margin-top:-375px;*/
}

#formContacto form h6{
	width:100%;
	margin-top:-105px;
	margin-left:-15px;
	font-family:'robotoregular' , sans-serif;
	font-size:13px;
	color:#3B3B3E;
	text-align:center;
	font-weight:600;
	margin-bottom:15px;
}

#formContacto form{
	font-family:'robotoregular' , sans-serif;
	font-size:13px;
	color:#3B3B3E;
	font-weight:100;
	margin-left:32px;
	
}

#formContacto form label {
	display:block;
	padding-left:5px;
}

#formContacto form input {
	margin-bottom:10px;
	border: 2px solid #9DA5B4;
	border-radius:7px;
	width:185px;
	height:23px;
}

#formContacto form textarea{
	width:210px;
	height:60px;
	border: 2px solid #9DA5B4;
	border-radius:7px;
	margin-left:3px;
}

.form3{
	margin-left:250px;
	margin-top:-194px;
}

#btnEnviar{
	margin-left:297px;
	margin-top:-76px;
}

#btnEnviar p{
	font-family:'robotoregular' , sans-serif;
	font-size:10px;
	color:#666666;
}



.pie{
	position:;
	font-family:'robotoregular' , sans-serif;
	font-size:11px;
	width:1024px;
	height:40px;
	text-align:center;
	color:#3E3E3E;
	font-weight:550;
}

#titFoot{
	margin-top:-30px;
	margin-left:auto;
	margin-right:auto;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (min-width: 981px) and (max-width: 1024px) {
	.encabezado{
		width:100%;
		height:100%;	
	}	
	
	.pie{
		width:100%;
		height:100%;
	}
 	.contenedor{
		width:100%;
	}

	#imgLateralIzq{
		display:block;
			
	}
	.cuerpoDer {
		position: absolute;
		margin-left:510px;
	}
	#imgLateralDer{
		width:100%;

	}
	
	.listDer ul{
		width:100%;
		margin-left:-25px;
		margin-top:-285px;
	}
	.listDer ul li{
		
	}
	.listDer li{
		
		font-size:13px;
		
	}
	.iconos{
		width:80%;	
	}
	#imgMedia{
		padding-left:12px;
		padding-right:12px;
	}
	
	
	.listDer form{
		margin-top:-360px;
	}
	
	.listDer form label{
		
		font-size:12px;
	}
	
	.listDer form input{

		font-size:12px;
	}
	
	
	
	
	
	#formContacto form{
		width:100%;
	}
	
	#formContacto form h6{
		margin-left:-35px;
	}
	
	#formContacto  label {
		width:80%;
	}
	
	 #formContacto  input{
		 width:80%;
	 }
	 
	 #divBackCalentadores{
		width:;
	}
	 .calentadoresGral{
		 width:;
		
	 }
	 
	 .cal1 {
		 margin-left:-120px;

	 }

	 .cal1 , .cal2 , .cal3{
		margin-right:30px;
	}
	
	.cal1 , .cal2 , .cal3 , .cal4{
		width:127px;
		height:148px;
	}
	
	#imgCalentador1  , #imgCalentador2  , #imgCalentador3  , #imgCalentador4 {
		width:127px;
		
	 }
	 
	 #imgCalentador1 img , #imgCalentador2 img, #imgCalentador3 img, #imgCalentador4 img{
		 max-height:148px;
	 }
	 
	#anteriorCal{
		margin-left:-170px;
	}

/*---------------------------------------------------------------------------------------------------------------*/
	.btnsAvanzar{
	position: inherit;

}
	
	#siguienteCal{
		margin-left:510px;
		width:100%;
	}
	
	#btns{
		margin-top:-40px;
		margin-left:40%;
	}
	 
	.pie{
		margin-top:0;
	}
}

@media screen and (min-width: 900px) and (max-width: 980px) {
	.encabezado{
		width:100%;
		height:100%;	
	}	
	
	.pie{
		width:100%;
		height:100%;
	}
 	.contenedor{
		width:100%;
	}
/*----------------------------------------------------------------------------------------------*/
	#imgLateralIzq{
		width:99%;
		display:block;		
	}
	
	.cuerpoIzq{
		width:465px;
	}
	
	.cuerpoDer {
		width:465px;
		float:right;
		
	}
	#imgLateralDer{
		width:99%;

	}
	/*----------------------------------------------------------------------------------------------*/
	
	#titDerecho{
		margin-top:;
	}

	#divBtnRegresar{
		margin-left: 28px/*10px/*29px*/;
	}
	#divBtnContinuar{
		margin-left:250px !important;
	}
/*----------------------------------------------------------------------------------------------*/
	.listDer ul{
		width:98%;
		margin-left:-35px;
		margin-top:-280px;
	}
	/*----------------------------------------------------------------------------------------------*/
	.listDer ul li{
		
	}
	.listDer li{
		font-size:11px;
	}
	/*----------------------------------------------------------------------------------------------*/
	.iconos{
		width:60%;	
	}
	
	#imgMedia{
		/*padding-left:12px;
		padding-right:12px;*/
		padding-left:0px;
		padding-right:0px;
	}
	/*-----------------------------esto lo agregué-----------------------------*/
	#formContacto form{
		width:100%;
		height:100%;
		margin-left:15px;
	}
	
	#formContacto form h6{
		width:80%;
		margin-left:0px;
	}
	
	#formContacto form label {
		font-size:10px;
		width:100%;
	}
	
	 #formContacto form input{
		 width:150px;
		 margin-bottom:0px;
	 }
	
	#formContacto form textarea{
		width:170px;
	}
	
	.form3{
		margin-top: -140px;
		margin-left:180px;
	}
	/*--------------------------------------------------------------------------------------------*/
	/*----------------------------------------------------------------------------------------------*/
	.listDer form{
		margin-top:-350px;
	}
	
	.listDer form label{
		font-size:12px;
	}
	
	.listDer form input{

		font-size:12px;
	}
	
	
	
	
	
	/*#formContacto form{
		width:100%;
	}
	
	#formContacto form h6{
		margin-left:-35px;
	}
	
	#formContacto  label {
		width:80%;
	}
	
	 #formContacto  input{
		 width:80%;
	 }*/
	 
	 #divBackCalentadores{
		width:100%;
	}
	 .calentadoresGral{
		 width:;
		
	 }
	 
	 .cal1 {
		 margin-left:-280px;

	 }

	 .cal1 , .cal2 , .cal3{
		margin-right:30px;
	}
	
	.cal1 , .cal2 , .cal3 , .cal4{
		width:127px;
		height:148px;
	}
	
	#imgCalentador1  , #imgCalentador2  , #imgCalentador3  , #imgCalentador4 {
		width:127px;
		
	 }
	 
	 #imgCalentador1 img , #imgCalentador2 img, #imgCalentador3 img, #imgCalentador4 img{
		 max-height:148px;
	 }
	 
	#anteriorCal{
		margin-left:-330px;
	}

/*---------------------------------------------------------------------------------------------------------------*/
	.btnsAvanzar{
		padding-top:75px;
}
	
	#siguienteCal{
		margin-left:360px;
		width:100%;
	}
	
	#btns{
		margin-top:-40px;
		margin-left:40%;
	}
	
	 
	 
	.pie{
		margin-top:0;
	}
}


/*Styles for screen 600px and lower*/
@media screen and (min-width : 571px) and (max-width: 899px) {
  .encabezado{
		width:100%;
		height:100%;	
	}	
	
	.logoCalore{
		width:80px;
		height:55px;
		margin-top:5px;
		margin-left:10px;
	}
	
	.pie{
		width:100%;
		height:100%;
	}
 	.contenedor{
		width:100%;
	}
	
	#divBackCalentadores{
		margin-left: auto;
		/*z-index:1;*/
	}
	
	#divBtnRegresar{
		margin-left: 28px/*10px/*29px*/;
	}
	.cuerpoIzq {

	}
	#imgLateralIzq{
		display:none;
			
	}
	.cuerpoDer {
		position:;
	}
	#imgLateralDer{

	}
	
	.listDer ul{
		width:100%;
		margin-left:-25px;
		margin-top:-285px;
	}
	.listDer ul li{
		
	}
	.listDer li{
		
		font-size:13px;
		
	}
	.iconos{
		width:80%;	
	}
	#imgMedia{
		padding-left:12px;
		padding-right:12px;
	}
	
	
	.listDer form{

		margin-top:-360px;
	}
	
	.listDer form label{
		
		font-size:12px;
	}
	
	.listDer form input{

		font-size:12px;
	}
	
	
	
	
	
	#formContacto form{
		width:100%;
	}
	
	#formContacto form h6{
		margin-left:-35px;
	}
	
	#formContacto  label {
		width:80%;
	}
	
	 #formContacto  input{
		 width:80%;
	 }
	 
	 .cal1 , .cal2 , .cal3 , .cal4{
		 width:80%;
	 }
	 
	
	 
	 #imgCalentador1  , #imgCalentador2  , #imgCalentador3  , #imgCalentador4 {
		width:127px;
		height:148px;
	 }
	 
	 #imgCalentador1 img , #imgCalentador2 img, #imgCalentador3 img, #imgCalentador4 img{
		 max-height:148px;
	 }
	 
	 #divBackCalentadores{
		width:100%;
		height:auto;
	}
	
	.imgBackCalentadores{
		width:100%;
		height:660px;
	}
	
	 .calentadoresGral{
		
	 }
	 
	 .cal1 , .cal3{
		 margin-left:inherit;
	 }

	 .cal1 , .cal2 , .cal3{
		margin-right:40px;
	}
	
	.cal1 , .cal2 , .cal3 , .cal4{
		width:127px;
		margin-top:10px;
	}
	
	.cal1 h6 , .cal2 h6 , .cal3 h6 , .cal4 h6{
		font-size:11px;
	}
	 
	#anteriorCal{
		margin-left:-45px;
	}
	
	#siguienteCal{
		margin-left:400px;
		
	}
	#btns{
		margin-left:30%;
		margin-top:;
		
	}
	
	.imgEspec1{
		margin:0 auto;
	}
	
	.pie{
		margin-top: auto;
	}
	
}
/*Styles for screen 480px and lower*/
@media only screen and (min-width : 346px) and (max-width : 570px) {
    .encabezado{
		width:100%;
		height:100%;	
	}
	.logoCalore{
		width:41px;
		height:16px;
		margin-top:5px;
		margin-left:10px;
	}
		
	.pie{
		width:100%;
		height:100%;
	}
 	.contenedor{
		
		width:100%;
	}
	
	#divBackCalentadores{
		margin-left: auto;
		/*z-index:1;*/
	}
	.cuerpoIzq {

	}
	#imgLateralIzq{
		display:none;
			
	}
	.cuerpoDer {
		position:absolute;
		width:100%;
		height:100%;
		overflow:;
	}
	#imgLateralDer{
		width:100%;
		height:380px;
	}
	
	#titDerecho{
		font-size:18px;
		text-align:center;
	}
	
	.listDer ul{
		
		
	}
	.listDer ul li{
		
	}
	.listDer li{
		width:32%;
		
		font-size:13px;
		
	}
	.iconos{
		width:60%;	
	}
	#imgMedia{
		padding-left:0px;
		padding-right:0px;
	}
	
	#divBtnRegresar{
		margin-left: 35px/*10px/*29px*/;
	}
	
	.listDer form{
		
		margin-top:-360px;
	}
	
	.listDer form label{
		
		font-size:10px;
	}
	
	.listDer form input{

		font-size:10px;
	}
	
	#divBtnContinuar{
		position:relative;
		margin-left:135px;
		width:100%;
	}
	
	
	
	#formContacto form{
		width:100%;
		height:100%;
		margin-left:15px;
	}
	
	#formContacto form h6{
		width:80%;
		margin-left:0px;
	}
	
	#formContacto form label {
		font-size:10px;
		width:100%;
	}
	
	 #formContacto form input{
		 width:100px;
		 margin-bottom:0px;
	 }
	
	#formContacto form textarea{
		width:120px;
	}
	
	.form3{
		margin-top: -150px;
		margin-left:180px;
	}
	
	 #btnEnviar{
		width:50%;
		margin-left:150px;
	}
	
	
	.cal1 , .cal2 , .cal3 , .cal4{
		padding-left:10px;
		 width:80%;
	 }
	 
	 #imgCalentador1  , #imgCalentador2  , #imgCalentador3  , #imgCalentador4 {
		width:120px;
		height:120px;
	 }
	 
	 #imgCalentador1 img , #imgCalentador2 img, #imgCalentador3 img, #imgCalentador4 img{
		 max-height:120px;
	 }
	 
	 #divBackCalentadores{
		width:100%;
		height:auto;
	}
	
	.imgBackCalentadores{
		width:100%;
		height:550px;
	}
	
	 .calentadoresGral{
		
	 }
	 
	 .cal1 , .cal3{
		 margin-left:inherit;
	 }

	 .cal1 , .cal2 , .cal3{
		margin-right:30px;
	}
	
	.cal1 , .cal2 , .cal3 , .cal4{
		width:120px;
		margin-top:10px;
	}
	
	.cal1 h6 , .cal2 h6 , .cal3 h6 , .cal4 h6{
		font-size:11px;
	}
	 
	#anteriorCal{
		margin-left:320px;
		padding-bottom:80px;
	}
	
	.btnsAvanzar{
		margin-top:-200px;
	}
	
	#siguienteCal{
		margin-left:320px;
	}
	
	#btns{
		margin-left:15%;
		margin-right:8%;
	}
	
	#imgFinalizar{
		margin-left:0;
	}
	
	#titFoot{
		margin-top:-18px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.imgEspec1{
		margin:0 auto;
	}
	
	.pie{
		margin-top:0;
	}

}

/*Smartphone*/
@media only screen and (max-width : 345px) {
.encabezado{
		width:100%;
		height:100%;	
	}
	.logoCalore{
		width:41px;
		height:16px;
		margin-top:5px;
		margin-left:10px;
	}
		
	.pie{
		width:100%;
		height:100%;
	}
 	.contenedor{
		overflow-x:hidden;
		width:100%;
	}
	
	#divBackCalentadores{
		margin-left: auto;
		/*z-index:1;*/
	}
	.cuerpoIzq {

	}
	#imgLateralIzq{
		display:none;
			
	}
	.cuerpoDer {
		position:absolute;
		width:100%;
		height:100%;
		overflow: ;
	}
	#imgLateralDer{
		height:380px;

	}
	
	#titDerecho{
		font-size:18px;
		text-align:center;
	}
	
	.listDer ul{
		
		
	}
	.listDer ul li{
		
	}
	.listDer li{
		width:32%;
		
		font-size:13px;
		
	}
	.iconos{
		width:60%;	
	}
	
	#divBtnRegresar{
		margin-left: 25px/*10px/*29px*/;
	}
	
	#imgMedia{
		padding-left:1px;
		padding-right:1px;
	}
	
	.listDer form{
		
		margin-top:-360px;
	}
	
	.listDer form label{
		
		font-size:10px;
	}
	
	.listDer form input{

		font-size:10px;
	}
	
	#divBtnContinuar{
		width:100%;
		position:relative;
		margin-left:140px;
	}
	
	
	
	#formContacto form{
		width:100%;
		height:100%;
		margin-left:5px;
	}
	
	#formContacto form h6{
		width:80%;
		margin-left:0px;
	}
	
	#formContacto form label {
		font-size:10px;
		width:100%;
	}
	
	 #formContacto form input{
		 width:85px;
		 margin-bottom:0px;
	 }
	
	#formContacto form textarea{
		width:120px;
	}
	
	.form3{
		margin-top: -150px;
		margin-left:180px;
	}
	
	 #btnEnviar{
		width:50%;
		margin-left:140px;
	}
	
	
	.cal1 , .cal2 , .cal3 , .cal4{
		padding-left:50px;
		 width:80%;
	 }
	 
	 #imgCalentador1  , #imgCalentador2  , #imgCalentador3  , #imgCalentador4 {
		width:120px;
		height:120px;
	 }
	 
	 #imgCalentador1 img , #imgCalentador2 img, #imgCalentador3 img, #imgCalentador4 img{
		 max-height:120px;
	 }
	 
	 #divBackCalentadores{
		width:100%;
		height:auto;
	}
	
	.imgBackCalentadores{
		width:100%;
		height:1024px;
	}
	
	 .calentadoresGral{
		
	 }
	 
	 .cal1 , .cal3{
		 margin-left:inherit;
	 }

	 .cal1 , .cal2 , .cal3{
		margin-right:30px;
	}
	
	.cal1 , .cal2 , .cal3 , .cal4{
		width:120px;
		margin-top:10px;
	}
	
	.cal4{
	}
	
	.cal1 h6 , .cal2 h6 , .cal3 h6 , .cal4 h6{
		font-size:11px;
	}
	 
	#anteriorCal{
		margin-left:200px;
		padding-bottom:80px;
	}
	
	.btnsAvanzar{
		margin-top:-220px;
	}
	
	#siguienteCal{
		margin-left:200px;
	}
	
	#btns{
		margin-top:-80px;
		margin-left:1%;
		margin-right:8%;
	}
	
	#imgFinalizar{
		margin-left:0;
	}
	
	#titFoot{
		margin-top:-18px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.imgEspec1{
		margin:0 auto;
	}
	
	.pie{
		margin-top:0;
	}

